.facts, .head-text, .main, .sign-up {
  background: #1F2937;
  color: #f9faf8;
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

a, p {
  color: #f9faf8;
  font-size: 20px;
  line-height: 1.5;
  padding-right: 30px;
  text-decoration: none;
}

button {
  background-color: #2882f6;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

/* header */

header {
  font-size: 20px;
}

.head-text div {
  flex: 1 1 0;
  font-weight: bolder;
  height: auto;
}

.links {
  flex: 3;
  margin-left: auto;
  text-align: right;
}

/* hero */

.hero {
  font-size: 48px;
  font-weight: bolder;
}

.main .left{
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.main .right {
  flex: 1;
}

.main button {
  border: none;
}

/* info on guinea pigs*/

.info-title {
  color: #1F2937;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.facts {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.facts p {
  color: #1F2937;
  padding-left: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* quote section */

.quotes{
  background: #e5e7eb;
  padding: 100px 20px 100px 20px;
}

.quote-text {
  color: #1f2937ba;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  line-height: 150%;
  text-align: center;
}

.quote-author {
  color: #222c3be8;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

/* sign-up section */

.sign-up {
  align-items: center;
  background: #2882f6;
  border-radius: 15px;
  color:white;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 100px;
  width: auto;
}

.sign-up .left{
  flex: 2;
  padding: 50px;
  text-align: left;
}

.sign-up .right {
  text-align: center;
}

.sign-up button {
  border: 2px solid white;
  margin-right: 20px;
}

/* footer */

footer {
  background:  #1F2937;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

/* images */

.whale {
  margin: 40px 20px 20px 80px;
  max-width: 80%;
  object-fit: contain;
}

.gp{
  height: auto;
  margin: 10px;
  max-height:280px;
  object-fit: cover;
  width: auto;
}
