.flex-container, .main, .facts{
  display: flex;
  padding: 20px;
  color: #f9faf8;
  background: #1F2937;
}

.flex-container div {
  height: auto;
  flex: 1 1 0%;
}

.links {
  margin-left: auto;
  text-align: right;
  flex: 3;}

.flex-container .one {
  flex: 3 1 0%;
}

.main .left{
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.main .right{
  flex: 1;
}

a, p {
  color: #f9faf8;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 0px 30px 0px 0px;
  text-decoration: none;
  line-height: 25px;
  }

#hero {
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: bolder;
}

header {
  font-size: 24px;
  color: #f9faf8;
}

#info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  color: white;
  background-color: #2882f6;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.facts {
  padding: 10px 20px 10px 20px;
  justify-content: space-evenly;
  background-color: white;
}

.facts p {
  color: #1F2937;
}

.quotes{
  background: #e5e7eb;
  padding: 100px 20px 100px 20px;
}

#quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937ba;
  font-weight: 100;
  line-height: 150%;
  text-align: center;
}

#author {
  color: #222c3be8;
  font-size: 28px;
  text-align: right;
  font-weight: bold;
}

/* images */
#logo {
  width: 80px;
  flex: 1;
}

#whale {
  max-width: 80%;
  object-fit: contain;
  margin: 40px 20px 20px 80px;
}

#gp{
  width: 200px;
  height: 250px;
  overflow: clip;
  margin: 0;
}
