.flex-container, .main, .facts{
  display: flex;
  padding: 20px;
  color: #f9faf8;
  background: #1F2937;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
  height: auto;
  flex: 1 1 0%;
}

#logo {
  width: 80px;
  flex: 1;
}

.links {
  margin-left: auto;
  text-align: right;
  flex: 3;}

.flex-container .one {
  flex: 3 1 0%;
}

.main .left{
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.main .right{
  flex: 1;
}

#whale {
  max-width: 80%;
  object-fit: contain;
  margin: 40px 20px 20px 80px;
}

a, p {
  color: #f9faf8;
  font-size: 18px;
  font-family: 'Roboto';
  padding: 0px 30px 0px 0px;
  text-decoration: none;
  line-height: 25px;
  }

h1 {
  font-size: 48px;
  font-family: 'Roboto';
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  color: #1F2937;
  text-align: center;
}

button {
  color: white;
  background-color: #2882f6;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

#gp{
  width: 200px;
  height: 250px;
  overflow: clip;
  margin: 0;
}

.facts {
  padding: 10px 20px 10px 20px;
  justify-content: space-evenly;
  background-color: white;
}

.facts p {
  color: #1F2937;
}
